<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dwalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>dwalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>dwalk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>dwalk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dwalk.png</string>
            <key>size</key>
            <string>{25,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8f4d16e53c55dd46e9e1f55d86b0f42:0e86ad322d2e08905601594687183f09:2aa369cb20a171051db2071a2b23f678$</string>
            <key>textureFileName</key>
            <string>dwalk.png</string>
        </dict>
    </dict>
</plist>
