<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonsterdstatic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,101}}</string>
                <key>sourceSize</key>
                <string>{62,101}</string>
            </dict>
            <key>treemonsterdstatic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,99}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>treemonsterdstatic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,99}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>treemonsterdstatic4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,99}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>treemonsterdstatic5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,101}}</string>
                <key>sourceSize</key>
                <string>{62,101}</string>
            </dict>
            <key>treemonsterdstatic6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonsterdstatic.png</string>
            <key>size</key>
            <string>{258,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a48d22e71eecc85109c04c340dbb4b5:0e466dd026516b58da1aba8c9ed4a08f:c08cdefa5455c076522f8585166c85f3$</string>
            <key>textureFileName</key>
            <string>treemonsterdstatic.png</string>
        </dict>
    </dict>
</plist>
