<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gdragonmonsterhrun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>gdragonmonsterhrun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>gdragonmonsterhrun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>gdragonmonsterhrun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gdragonmonsterhrun.png</string>
            <key>size</key>
            <string>{376,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:739aec9db7c13af0391eb9e66da4e594:ef53b0f8eb8d676b703273cb2ced0899:74340ead4928131784f5c11705e92c02$</string>
            <key>textureFileName</key>
            <string>gdragonmonsterhrun.png</string>
        </dict>
    </dict>
</plist>
