<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hswordwave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>hswordwave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hswordwave.png</string>
            <key>size</key>
            <string>{68,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eb5406c5f8dfdf1fc0aad064aac61c0:e03d93c40a52641dc8aefb2ce85626fe:d4a24c2237cc9b97dcdff6ff7cf748a3$</string>
            <key>textureFileName</key>
            <string>hswordwave.png</string>
        </dict>
    </dict>
</plist>
