<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeletonmonsterhrun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>skeletonmonsterhrun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>skeletonmonsterhrun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>skeletonmonsterhrun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeletonmonsterhrun.png</string>
            <key>size</key>
            <string>{158,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:433cd272375847678fa3e73f965f59f6:36092ee0710ee9b7a189feeca15e0f19:ce1200e2f72d7f9c5aba6ae3b0b9ccf0$</string>
            <key>textureFileName</key>
            <string>skeletonmonsterhrun.png</string>
        </dict>
    </dict>
</plist>
