<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dswordwave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>dswordwave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dswordwave.png</string>
            <key>size</key>
            <string>{25,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f2988f969ad603cfdfdf8b181474f1f:b74526d828f75e1abb9b7b2624b4e982:9ef9b4004e08edf8dd6eb2f34b2c225f$</string>
            <key>textureFileName</key>
            <string>dswordwave.png</string>
        </dict>
    </dict>
</plist>
