<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonsterhstatic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,105}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>treemonsterhstatic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,103}}</string>
                <key>sourceSize</key>
                <string>{62,103}</string>
            </dict>
            <key>treemonsterhstatic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,103}}</string>
                <key>sourceSize</key>
                <string>{62,103}</string>
            </dict>
            <key>treemonsterhstatic4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,103}}</string>
                <key>sourceSize</key>
                <string>{62,103}</string>
            </dict>
            <key>treemonsterhstatic5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,105}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>treemonsterhstatic6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,106}}</string>
                <key>sourceSize</key>
                <string>{62,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonsterhstatic.png</string>
            <key>size</key>
            <string>{322,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f80adbbf04323b0d84a22e2956816d5f:1e2301d0deffdbde1d37538cd8c84111:c222f9bd269a2dea4d5101294c1291ae$</string>
            <key>textureFileName</key>
            <string>treemonsterhstatic.png</string>
        </dict>
    </dict>
</plist>
