<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,560}}</string>
                <key>sourceSize</key>
                <string>{560,560}</string>
            </dict>
            <key>rain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{560,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,560}}</string>
                <key>sourceSize</key>
                <string>{560,560}</string>
            </dict>
            <key>rain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{560,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,560}}</string>
                <key>sourceSize</key>
                <string>{560,560}</string>
            </dict>
            <key>rain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,564},{560,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,560}}</string>
                <key>sourceSize</key>
                <string>{560,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Rain.png</string>
            <key>size</key>
            <string>{1126,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd143c1293a1f961e7dbe3de6188da5:ec74febb05ec7127122f8e9a9fedb6f1:806e377bb00713bb2bdbf5f89ac00103$</string>
            <key>textureFileName</key>
            <string>Rain.png</string>
        </dict>
    </dict>
</plist>
