<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonemonsterdrun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>bonemonsterdrun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>bonemonsterdrun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>bonemonsterdrun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{86,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,120}}</string>
                <key>sourceSize</key>
                <string>{86,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonemonsterdrun.png</string>
            <key>size</key>
            <string>{268,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84160c2e2f1adb808700e3621dc12209:3d9770826b8b2a94beb3dc0417b14be3:6fa39a20d3161fc940c51aab5c64cd40$</string>
            <key>textureFileName</key>
            <string>bonemonsterdrun.png</string>
        </dict>
    </dict>
</plist>
