<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>save0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save10.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,196},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save13.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,196},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,390},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,390},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,584},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,584},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,778},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
            <key>save9.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,778},{272,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,192}}</string>
                <key>sourceSize</key>
                <string>{272,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Save.png</string>
            <key>size</key>
            <string>{824,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c98ccb653adce65c25ec128a16a59cea:2a02319281d2fdad8a16099dca420b34:639c5359a610c1ca342b125f33b12780$</string>
            <key>textureFileName</key>
            <string>Save.png</string>
        </dict>
    </dict>
</plist>
