<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonemonprojdur1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bonemonprojdur9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{205,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,144}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonemonprojdur.png</string>
            <key>size</key>
            <string>{209,1754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:555670ed49c0016ec7877827cfb407e9:9ef92a6225cf3c521a25cfd9734ad84b:911c7aa0e6e76b9730cfeaca01f469dd$</string>
            <key>textureFileName</key>
            <string>bonemonprojdur.png</string>
        </dict>
    </dict>
</plist>
