<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonemonproj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,45}}</string>
                <key>sourceSize</key>
                <string>{130,45}</string>
            </dict>
            <key>bonemonproj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{132,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,47}}</string>
                <key>sourceSize</key>
                <string>{132,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonemonproj.png</string>
            <key>size</key>
            <string>{268,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:217ebda617c3762d1e08b1dda2aa7c03:dfa5c56ecdc79aa438f5fdddfc57683e:754303fc7a8f5a0c6fddadf8e89bdda8$</string>
            <key>textureFileName</key>
            <string>bonemonproj.png</string>
        </dict>
    </dict>
</plist>
