<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonproj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>treemonproj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonproj.png</string>
            <key>size</key>
            <string>{420,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755ede21ad63444c08136ac1dc58e6bd:0bc78159517225d9ff111bccb9a12e82:0974f67364e26fafa5ec4550e1bae92e$</string>
            <key>textureFileName</key>
            <string>treemonproj.png</string>
        </dict>
    </dict>
</plist>
