<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonprojdur1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,339}}</string>
                <key>sourceSize</key>
                <string>{257,339}</string>
            </dict>
            <key>treemonprojdur2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{257,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,339}}</string>
                <key>sourceSize</key>
                <string>{257,339}</string>
            </dict>
            <key>treemonprojdur3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{257,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,339}}</string>
                <key>sourceSize</key>
                <string>{257,339}</string>
            </dict>
            <key>treemonprojdur4.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{257,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,339}}</string>
                <key>sourceSize</key>
                <string>{257,339}</string>
            </dict>
            <key>treemonprojdur5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{257,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,339}}</string>
                <key>sourceSize</key>
                <string>{257,339}</string>
            </dict>
            <key>treemonprojdur6.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,343},{257,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,339}}</string>
                <key>sourceSize</key>
                <string>{257,339}</string>
            </dict>
            <key>treemonprojdur7.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,343},{257,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,339}}</string>
                <key>sourceSize</key>
                <string>{257,339}</string>
            </dict>
            <key>treemonprojdur8.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,343},{257,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,339}}</string>
                <key>sourceSize</key>
                <string>{257,339}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonprojdur.png</string>
            <key>size</key>
            <string>{1038,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e39452bee1596873fe6f3d368bfbbda7:80c54b19aa3a212df331f0af20ac5f3b:b83abdd7bdd3ca921473bd2c7ceab633$</string>
            <key>textureFileName</key>
            <string>treemonprojdur.png</string>
        </dict>
    </dict>
</plist>
