<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hbaseattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>hbaseattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hbaseattack.png</string>
            <key>size</key>
            <string>{84,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:607a95c1ace195169d82a31edc35e71b:cd9b6d4a0342bf84dbaaabdada7b85cd:a9dc3c06eb5b27a21244c775ef28e7a3$</string>
            <key>textureFileName</key>
            <string>hbaseattack.png</string>
        </dict>
    </dict>
</plist>
