<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonsterubigskill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{62,100}</string>
            </dict>
            <key>treemonsterubigskill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{82,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{82,98}</string>
            </dict>
            <key>treemonsterubigskill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>treemonsterubigskill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{155,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,125}}</string>
                <key>sourceSize</key>
                <string>{155,125}</string>
            </dict>
            <key>treemonsterubigskill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{156,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,168}}</string>
                <key>sourceSize</key>
                <string>{156,168}</string>
            </dict>
            <key>treemonsterubigskill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{156,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,152}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>treemonsterubigskill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{157,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,142}}</string>
                <key>sourceSize</key>
                <string>{157,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonsterubigskill.png</string>
            <key>size</key>
            <string>{876,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8d5a260ef2f0e120487c18555785112:89bb1d9beb0aa8c3b7db80f5d1d49de1:31031e72fad96433d31b721e372677a9$</string>
            <key>textureFileName</key>
            <string>treemonsterubigskill.png</string>
        </dict>
    </dict>
</plist>
