<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fdbaseattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>fdbaseattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fdbaseattack.png</string>
            <key>size</key>
            <string>{24,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e9d21319f62d638e0fcaedfd73658cb:2ac04707a5591649b39c199051945596:5b14d7ff726ec3728e0877ce95fe8971$</string>
            <key>textureFileName</key>
            <string>fdbaseattack.png</string>
        </dict>
    </dict>
</plist>
