<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeletonmonprojdur1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,168}}</string>
                <key>sourceSize</key>
                <string>{310,168}</string>
            </dict>
            <key>skeletonmonprojdur2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{313,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,166}}</string>
                <key>sourceSize</key>
                <string>{313,166}</string>
            </dict>
            <key>skeletonmonprojdur3.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{313,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,170}}</string>
                <key>sourceSize</key>
                <string>{313,170}</string>
            </dict>
            <key>skeletonmonprojdur4.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{297,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,167}}</string>
                <key>sourceSize</key>
                <string>{297,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeletonmonprojdur.png</string>
            <key>size</key>
            <string>{1243,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e901b5143f4a66f56dfe161e85f82839:d13263b21f27446aeb103dc4bf3d6b0d:5431755a48e4ad0ef423d49d12d825af$</string>
            <key>textureFileName</key>
            <string>skeletonmonprojdur.png</string>
        </dict>
    </dict>
</plist>
