<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonsterhrun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,103}}</string>
                <key>sourceSize</key>
                <string>{68,103}</string>
            </dict>
            <key>treemonsterhrun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{62,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,106}}</string>
                <key>sourceSize</key>
                <string>{62,106}</string>
            </dict>
            <key>treemonsterhrun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{59,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,107}}</string>
                <key>sourceSize</key>
                <string>{59,107}</string>
            </dict>
            <key>treemonsterhrun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{61,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,105}}</string>
                <key>sourceSize</key>
                <string>{61,105}</string>
            </dict>
            <key>treemonsterhrun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{72,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,103}}</string>
                <key>sourceSize</key>
                <string>{72,103}</string>
            </dict>
            <key>treemonsterhrun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{69,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,110}}</string>
                <key>sourceSize</key>
                <string>{69,110}</string>
            </dict>
            <key>treemonsterhrun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{61,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,112}}</string>
                <key>sourceSize</key>
                <string>{61,112}</string>
            </dict>
            <key>treemonsterhrun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{60,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,113}}</string>
                <key>sourceSize</key>
                <string>{60,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonsterhrun.png</string>
            <key>size</key>
            <string>{530,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6be472f01b97c38db703ef1648b00fa0:3aa6e257906115201bd0355a6a9d5edd:a1bd6317741551b4684c29c00a68abe4$</string>
            <key>textureFileName</key>
            <string>treemonsterhrun.png</string>
        </dict>
    </dict>
</plist>
