<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeletonmonsterhattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,52}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>skeletonmonsterhattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>skeletonmonsterhattack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>skeletonmonsterhattack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeletonmonsterhattack.png</string>
            <key>size</key>
            <string>{201,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e099db19c528db30053b8821efc696d:b9c1bc33faa3cce1aa6e088e80238398:394aced3907098e005f3b9569c6febd3$</string>
            <key>textureFileName</key>
            <string>skeletonmonsterhattack.png</string>
        </dict>
    </dict>
</plist>
