<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dstatic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>dstatic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>dstatic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>dstatic4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dstatic.png</string>
            <key>size</key>
            <string>{25,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1c1ca4fffd5cacc4953f418e9a31698:5c16df7a2a0df481538f6094954630a6:e499d150b10b273764f4269f48e6369e$</string>
            <key>textureFileName</key>
            <string>dstatic.png</string>
        </dict>
    </dict>
</plist>
