<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonsterhbigskill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,103}}</string>
                <key>sourceSize</key>
                <string>{61,103}</string>
            </dict>
            <key>treemonsterhbigskill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{62,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{62,100}</string>
            </dict>
            <key>treemonsterhbigskill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>treemonsterhbigskill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>treemonsterhbigskill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{156,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,168}}</string>
                <key>sourceSize</key>
                <string>{156,168}</string>
            </dict>
            <key>treemonsterhbigskill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{156,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,152}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>treemonsterhbigskill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{157,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,134}}</string>
                <key>sourceSize</key>
                <string>{157,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonsterhbigskill.png</string>
            <key>size</key>
            <string>{827,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2bf31f2db598b0a30d4ecb8f36058fe:fc56bb7edf5692f66df9764f52572446:ae4f8349a8b4f0745457afaa5c67204f$</string>
            <key>textureFileName</key>
            <string>treemonsterhbigskill.png</string>
        </dict>
    </dict>
</plist>
