<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gdragonmonprojdur1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur6.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur7.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur8.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>gdragonmonprojdur9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gdragonmonprojdur.png</string>
            <key>size</key>
            <string>{1122,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1baeecc3614a9e1138f255f29b6a3670:d5a8fbebd3bbabbabac8e37dd196d061:1eccc4203c629ffd6c7a6f95ef97af59$</string>
            <key>textureFileName</key>
            <string>gdragonmonprojdur.png</string>
        </dict>
    </dict>
</plist>
