<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gdragonmonproj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>gdragonmonproj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{148,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,89}}</string>
                <key>sourceSize</key>
                <string>{148,89}</string>
            </dict>
            <key>gdragonmonproj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{147,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,87}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
            <key>gdragonmonproj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>gdragonmonproj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{147,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,90}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gdragonmonproj.png</string>
            <key>size</key>
            <string>{748,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67a6bc2e989434364a38336e5a0daa3e:305c4c5d0ffbe765873bc1d03a90df7f:51bebbb1dfb7182846ebbe7876bf6f90$</string>
            <key>textureFileName</key>
            <string>gdragonmonproj.png</string>
        </dict>
    </dict>
</plist>
