<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>drun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>drun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>drun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>drun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drun.png</string>
            <key>size</key>
            <string>{28,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aba781e8db49955c9a7512dd54cc1223:d0759a0ffb6896f1b1e7d186fb07274a:445d7ded7503e9a13f26ebaed59b930b$</string>
            <key>textureFileName</key>
            <string>drun.png</string>
        </dict>
    </dict>
</plist>
