<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeletonmonsterdrun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>skeletonmonsterdrun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>skeletonmonsterdrun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>skeletonmonsterdrun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeletonmonsterdrun.png</string>
            <key>size</key>
            <string>{159,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3f09ca7dd6d44b4be91eba0f46f2256:b9d712356b95d15ebec83efa39abb477:a75f94a91044576620bee6aa73a293ba$</string>
            <key>textureFileName</key>
            <string>skeletonmonsterdrun.png</string>
        </dict>
    </dict>
</plist>
