<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hstatic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
            <key>hstatic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hstatic.png</string>
            <key>size</key>
            <string>{23,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2faf9aeb16b8bb9f44926751b24e5ac0:ce4dafc0ce371414974e78166bd28a54:65a19bcad374d1e32b51f9597323147a$</string>
            <key>textureFileName</key>
            <string>hstatic.png</string>
        </dict>
    </dict>
</plist>
