<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gdragonmonsterhattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>gdragonmonsterhattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>gdragonmonsterhattack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{113,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,92}}</string>
                <key>sourceSize</key>
                <string>{113,92}</string>
            </dict>
            <key>gdragonmonsterhattack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gdragonmonsterhattack.png</string>
            <key>size</key>
            <string>{402,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9c2455cd020c353748f40faca962b0d:f3ff27cbec94a59d4dee4528e23db3cd:76825d2bb868f483266bcfa7569b7343$</string>
            <key>textureFileName</key>
            <string>gdragonmonsterhattack.png</string>
        </dict>
    </dict>
</plist>
