<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonemonsteruattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>bonemonsteruattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{136,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,118}}</string>
                <key>sourceSize</key>
                <string>{136,118}</string>
            </dict>
            <key>bonemonsteruattack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{170,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,120}}</string>
                <key>sourceSize</key>
                <string>{170,120}</string>
            </dict>
            <key>bonemonsteruattack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>bonemonsteruattack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonemonsteruattack.png</string>
            <key>size</key>
            <string>{610,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b4a92b6d222b51e6885b52f97ea6267:84d967cf4bfd2602ce6cbdd8322fdf0f:28ed1f1575bd0eabb99be1f44a5cd7d8$</string>
            <key>textureFileName</key>
            <string>bonemonsteruattack.png</string>
        </dict>
    </dict>
</plist>
