<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonemonsterhrun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,120}}</string>
                <key>sourceSize</key>
                <string>{62,120}</string>
            </dict>
            <key>bonemonsterhrun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,120}}</string>
                <key>sourceSize</key>
                <string>{62,120}</string>
            </dict>
            <key>bonemonsterhrun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,120}}</string>
                <key>sourceSize</key>
                <string>{62,120}</string>
            </dict>
            <key>bonemonsterhrun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,120}}</string>
                <key>sourceSize</key>
                <string>{62,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonemonsterhrun.png</string>
            <key>size</key>
            <string>{194,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fb7babd0ad228a38cd630bbe6d1d13a:0509f2cc62041a155a9c378ddfa100c4:c455f705ee6561c9386c9c3cc0969221$</string>
            <key>textureFileName</key>
            <string>bonemonsterhrun.png</string>
        </dict>
    </dict>
</plist>
