<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gdragonmonsterdrun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>gdragonmonsterdrun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{89,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,96}}</string>
                <key>sourceSize</key>
                <string>{89,96}</string>
            </dict>
            <key>gdragonmonsterdrun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>gdragonmonsterdrun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{77,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,98}}</string>
                <key>sourceSize</key>
                <string>{77,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gdragonmonsterdrun.png</string>
            <key>size</key>
            <string>{342,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0817669ed9a88fd0390808955bba7311:d2ab5fbc5f7a85d477f226b3d9d2998b:7452aad0d3cdeecff1f11685e9432bea$</string>
            <key>textureFileName</key>
            <string>gdragonmonsterdrun.png</string>
        </dict>
    </dict>
</plist>
