<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hbasepoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>hbasepoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hbasepoke.png</string>
            <key>size</key>
            <string>{84,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d6d6b8b47e237cb30b510195d863d24:cd9b6d4a0342bf84dbaaabdada7b85cd:b3866b45ae7b264dedaead19cb6cb542$</string>
            <key>textureFileName</key>
            <string>hbasepoke.png</string>
        </dict>
    </dict>
</plist>
