<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ustatic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>ustatic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>ustatic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ustatic.png</string>
            <key>size</key>
            <string>{24,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:865d98ef267a14a0e7ee53debd4aed25:930cdb1416edb79382709668d6572408:10cd0fd9a9d54381cdba19feec8c6100$</string>
            <key>textureFileName</key>
            <string>ustatic.png</string>
        </dict>
    </dict>
</plist>
