<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeletonmonsteruattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>skeletonmonsteruattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>skeletonmonsteruattack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{33,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>skeletonmonsteruattack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeletonmonsteruattack.png</string>
            <key>size</key>
            <string>{176,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5da9b4200ed0d322d06caec4445ded53:84d2a82e4b3a3d3c13909bb8d1fd85f1:bfbe4b7752e0e91f4c1dcd2d69b748eb$</string>
            <key>textureFileName</key>
            <string>skeletonmonsteruattack.png</string>
        </dict>
    </dict>
</plist>
