<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ubaseattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{22,44}</string>
            </dict>
            <key>ubaseattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ubaseattack.png</string>
            <key>size</key>
            <string>{26,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ad23f2835d96bd04e8a4d53f6300d4d:92602fced73055b0730dd195a14aeb43:840b9f4088965d8baff5b7f54de593dd$</string>
            <key>textureFileName</key>
            <string>ubaseattack.png</string>
        </dict>
    </dict>
</plist>
