<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{285,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,234}}</string>
                <key>sourceSize</key>
                <string>{285,234}</string>
            </dict>
            <key>bomb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,236},{232,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,253}}</string>
                <key>sourceSize</key>
                <string>{232,253}</string>
            </dict>
            <key>bomb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{242,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,211}}</string>
                <key>sourceSize</key>
                <string>{242,211}</string>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,236},{285,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,234}}</string>
                <key>sourceSize</key>
                <string>{285,234}</string>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{286,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,221}}</string>
                <key>sourceSize</key>
                <string>{286,221}</string>
            </dict>
            <key>bomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{275,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,232}}</string>
                <key>sourceSize</key>
                <string>{275,232}</string>
            </dict>
            <key>bomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>bomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,236},{222,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,266}}</string>
                <key>sourceSize</key>
                <string>{222,266}</string>
            </dict>
            <key>bomb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,236},{232,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,253}}</string>
                <key>sourceSize</key>
                <string>{232,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{1268,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c68c3f47551b807a9d2f1d90c6c2afc:b7ad01fc88a738efaa3d2cb1cb26339e:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
