<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,49}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>laser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,48}}</string>
                <key>sourceSize</key>
                <string>{117,48}</string>
            </dict>
            <key>laser3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{117,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,49}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>laser4.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{117,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,48}}</string>
                <key>sourceSize</key>
                <string>{117,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.png</string>
            <key>size</key>
            <string>{478,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb4e7f88d3448f00a454352aa99840c7:7486142c13d286a7fb5eaeaeb4fcabe2:70bc5ecc2974f393155290b4a30d2595$</string>
            <key>textureFileName</key>
            <string>laser.png</string>
        </dict>
    </dict>
</plist>
