<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>urun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>urun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>urun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>urun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>urun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>urun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>urun.png</string>
            <key>size</key>
            <string>{25,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd522791adaae8cef66d70c45afd15cf:d58a9c6afa3b8c1e671681f2cadb2c3c:ea0502df8609a14cdfe4412cc4bff930$</string>
            <key>textureFileName</key>
            <string>urun.png</string>
        </dict>
    </dict>
</plist>
