<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ubasepoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,45}}</string>
                <key>sourceSize</key>
                <string>{21,45}</string>
            </dict>
            <key>ubasepoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{21,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,49}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ubasepoke.png</string>
            <key>size</key>
            <string>{25,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f56095e3ab16f203466d75d7ae2b7a2:995c490609c484c9ad33493805ed0e63:b90f89d260958189d307664fe515878f$</string>
            <key>textureFileName</key>
            <string>ubasepoke.png</string>
        </dict>
    </dict>
</plist>
