<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fubaseattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>fubaseattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{19,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,48}}</string>
                <key>sourceSize</key>
                <string>{19,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fubaseattack.png</string>
            <key>size</key>
            <string>{26,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2de52a70a7833daff54e0d7518655013:ea2298ceb55498289b05fc015e9e97a6:8d53e6c028b0c1847f50d4efa50ce04c$</string>
            <key>textureFileName</key>
            <string>fubaseattack.png</string>
        </dict>
    </dict>
</plist>
