<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treemonsterdattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>treemonsterdattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{64,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,102}}</string>
                <key>sourceSize</key>
                <string>{64,102}</string>
            </dict>
            <key>treemonsterdattack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{60,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,102}}</string>
                <key>sourceSize</key>
                <string>{60,102}</string>
            </dict>
            <key>treemonsterdattack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{62,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,103}}</string>
                <key>sourceSize</key>
                <string>{62,103}</string>
            </dict>
            <key>treemonsterdattack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{75,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,103}}</string>
                <key>sourceSize</key>
                <string>{75,103}</string>
            </dict>
            <key>treemonsterdattack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>treemonsterdattack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treemonsterdattack.png</string>
            <key>size</key>
            <string>{488,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ca2cb3646b1622b547872e7cc6fecf4:20e23fe84fc5b922d5a6c368cbdfa6a6:69f204e1608133151605f765b1703366$</string>
            <key>textureFileName</key>
            <string>treemonsterdattack.png</string>
        </dict>
    </dict>
</plist>
