<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eyecubebosslaser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,230}}</string>
                <key>sourceSize</key>
                <string>{505,230}</string>
            </dict>
            <key>eyecubebosslaser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{505,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,230}}</string>
                <key>sourceSize</key>
                <string>{505,230}</string>
            </dict>
            <key>eyecubebosslaser3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{505,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,230}}</string>
                <key>sourceSize</key>
                <string>{505,230}</string>
            </dict>
            <key>eyecubebosslaser4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{505,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,230}}</string>
                <key>sourceSize</key>
                <string>{505,230}</string>
            </dict>
            <key>eyecubebosslaser5.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,234},{505,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,230}}</string>
                <key>sourceSize</key>
                <string>{505,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eyecubebosslaser.png</string>
            <key>size</key>
            <string>{1523,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977e5c49e6a31db3894c3d14719476be:c4627689ec86f9c718e4065234ac6661:c983d7cb2195b147f3418344c7f24964$</string>
            <key>textureFileName</key>
            <string>eyecubebosslaser.png</string>
        </dict>
    </dict>
</plist>
